@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ku4";
  src: url("/public/assets/fonts/KumbhSans-Regular.ttf");
  font-family: "ku7";
  src: url("/public/assets/fonts/KumbhSans-Bold.ttf");
}
